{% comment %}
To customize the favicon, assign it to "/url/to/favicon.png"
{% endcomment %}
{% assign favicon = '/favicon_hustcalm_l1.png' %}
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!--Ref to google plus profile to display authorship in google search result -->
<link ref="me" href="https://plus.google.com/u/0/103479323169088059584?rel=author">
